.main {
    background-color: hsl(229, 57%, 11%);
    background-image: url(images/bg-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 20rem;
    height: 100vh;
}

.card,
.card__storage,
.card__name__icon,
.card__storage__gb,
.storage__left {
    display: flex;
}

.card__name,
.card__storage {
    background-color: hsl(228, 56%, 26%);
}

.card {
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.card__name {
    width: 25%;
    border-radius: 10px 50px 10px 10px;
    padding: 3rem;
}

.card__name__icon {
    height: 80px;
}

.card__name__icon img {
    background-color: hsl(229, 57%, 11%);
    padding: 10px;
    border-radius: 10px;
    margin-top: 2.5rem;
}

.img-margin {
    margin-left: 25px;
}

.card__storage {
    width: 40%;
    margin-left: 2.5rem;
    border-radius: 10px;
    padding: 3rem;
}

.card__storage__gb,
.card__storage {
    justify-content: space-between;
}

.card__storage__percentage {
    width: 80%;
    background-image: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    height: 15px;
    border-radius: 100px;
}

.percentage {
    width: 100%;
    background-color: aqua;
}

.card__storage {
    flex-direction: column;
}

.card__storage p {
    color: white;
}

.storage__left {
    padding: 2rem;
    background-color: white;
    width: 15%;
    border-radius: 10px;
    position: relative;
    left: 62.5rem;
    bottom: 2.5rem;
}

.storage__left h1 {
    font-size: 2rem;
    font-weight: bold;
}

.storage__left p {
    color: gray;
}

.main {
    overflow: hidden;
}

@media (max-width: 700px) {
    .card {
        flex-direction: column;
    }

    .card__name,
    .card__storage {
        width: 80%;
        margin: 0 auto;
    }

    .card__storage {
        margin-top: 2rem;
    }

    .storage__left {
        width: 40%;
        top: 10.5rem;
        left: 7rem;
        padding: 1rem;
        align-items: center;
    }    
}

@media (min-width:700px) and (max-width: 1000px) {
    .card__name,
    .card__storage {
        width: 40%;
    }
}
